.login-container {
    height: 100vh;
    background: #EFEEFC;

    .common-title {
      color: #000000;
      h1 {
        font-size: 22px;
      }
    }

    &__box {
      width: 350px;
      padding: 0px 16px;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 90vh;
      justify-content: space-between;

      &-user-icon {
        svg {
          width: 42px;
          height: 42px;
          margin: 12px 0px 0px 0px;
          color: var(--is-theme-color);
        }
      }
      h1 {
        margin: 0px 0px 32px 0px;
      }

      .button-box {
        button {
          width: 100%;
          height: 48px;
          span {
            text-align: center;
            width: 100%;
          }
        }
      }

      &-signup-option {
        margin-bottom: 32px;
        h3 {
          font-size: 16px;
          color: var(--is-dark-black-color);
          font-weight: 700;
        }
      }
    }
  }
  