.transaction-container {
    height: 100vh;

    .transaction-content {
        display: flex;
        flex-direction: column;
        max-width: 769px;
        margin: 0px auto;
        // background-color: #ffffff;
        background: #6a5ae0;
        border-radius: 5px;
        text-align: center;
        height: 100%;
        padding: 0px 16px;

        .transaction-section-main-container {
            background: #ffffff;
            border-radius: 32px 32px 0px 0px;
            height: 100%;
            .balence-box {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #6a5ae0;
                padding: 16px;
                border-radius: 16px;
                margin: 16px;
                color: #ffffff;
                svg {
                    font-size: 14px;
                    margin: 0px -3px 0px 5px;
                }
            }
            .transaction-history {
                padding: 16px 12px;
                h4 {
                    font-size: 16px;
                    font-weight: 700;
                    text-align: left;
                    margin-bottom:18px;
                }
                .transaction-table {
                    .Transaction-row {
                        background: #d4fefecf;
                        padding: 8px 4px;
                        margin: 12px 0px;
                        p {
                            display: flex;
                            justify-content: space-between;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        p:last-child {
                            margin-top: 8px;
                            .whithdrawal-amount {
                                color: var(--is-red-color);
                                font-weight: 800;
                            }
                            .deposite-amount {
                                color: var(--is-green-text-color);
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .transaction-container {
      .transaction-content {
        width: 100%;
      }
    }
  }
