.transaction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .transaction-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        background-color: #ffffff;
        // padding: 10px; 
        border-radius: 5px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 100%;

        .transaction-title {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 12px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            background: var(--is-green-gradient);
            // color: #017f01;
            color: var(--is-green-text-color);
            .left-section {
                position: absolute;
                left: 12px;
                svg {
                    width: 36px;
                    height: 26px;
                    // cursor: pointer;
                }
            }
            .right-section {
                position: absolute;
                right: 12px;
                svg {
                    width: 36px;
                    height: 26px;
                    cursor: pointer;
                    color: var(--is-red-color);
                }
            }
        }
    }
}
