.myContest-container {
    background: #6a5ae0;

    .myContest-content {
        background: #ffffff;
        border-radius: 32px 32px 0px 0px;
        padding-top: 16px;

        h2 {
            font-size: 16px;
            font-weight: 600;
            margin: 0px 16px;
            text-align: center;
        }
    }
}