.contest-details {
    padding: 32px 0px;
    &__card{
        padding: 0px 16px 32px 16px;
        &-top {
            display: flex;
            justify-content: space-between;
            color: var(--is-secondary-background-color);
            font-size: 16px;
            font-weight: 600;
            .contest-category,
            .contest-date,
            .contest-time {
                display: flex;
                flex-direction: column;
            }
        }
        &-middle {
            font-family: 'Poppins', sans-serif;
            margin: 32px 0px 8px 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
            span:first-child {
                font-weight: 800;
                text-align: center;
                font-size: 22px;
                svg {
                    font-size: 18px;
                }
            }
            span:last-child {
                font-weight: 600;
                font-size: 20px;
                opacity: 0.5;
                margin-top: 4px;
                svg {
                    font-size: 16px;
                }
            }
        }
        &-bottom {
            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__tab-section {
        // padding: 0px 16px 0px 16px;
        &-tab {
            .ant-tabs-nav-list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .ant-tabs-tab {
                    width: 33.33%;
                    display: flex;
                    justify-content: center;
                    .ant-tabs-tab-btn {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}