.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .edit-profile-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      border-radius: 5px;
      text-align: center;
      height: 100%;

      .common-title {
        .left-section {
          svg {
            color: var(--is-red-color);
          }
        }
        .right-section {
          svg {
            color: var(--is-black-color);
          }
        }
      }

      .edit-profile-form {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
  
  
  