.edit-profile-container {
    .edit-profile-content {
      display: flex;
      flex-direction: column;
      width: 769px;
      margin: 0px auto;
      border-radius: 5px;
      text-align: center;
      height: 100%;

      .common-title {
        .left-section {
          svg {
            color: var(--is-red-color);
          }
        }
        .right-section {
          svg {
            color: var(--is-black-color);
          }
        }
      }

      .edit-profile-form {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
        h1 {
          margin-bottom: 8px;
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .edit-profile-container {
      .edit-profile-content {
        width: 100%;
      }
    }
  }