.home-wrapper {
    .home-design {
        padding: 32px 16px;

        .carousel-container {
            background-color: white;
            padding: 20px;
            /* Add padding for spacing */
        }

        .carousel-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            /* Adjust the height as needed */
            background-color: white;
            /* Ensure a white background for each slide */
        }

        .carousel-slide img {
            max-width: 100%;
            max-height: 100%;
        }

        .slick-list {
            height: 230px;
        }

        .slick-dots {
            li {
                background: gray !important;
            }

            .slick-active {
                button {
                    background: var(--theme-color) !important;
                }

                background: var(--is-blue-gradient) !important;
            }
        }

    }
    .home-contest {
        .home-select-box {
            .ant-select {
                width: 100%;
                .ant-select-selector {
                    border: 0px !important;
                    box-shadow: none !important;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
                .ant-select-arrow {
                    font-size: 16px;
                    color: #000;
                }
            }
        }
        .contest-spin {
            margin-top: 100px;
            margin-left: 47%;
        }
    }
}