.home-wrapper {
    border-radius: 32px 32px 0px 0px;
    background: #ffffff;
    height: 80vh;
    overflow-y: auto;
    margin-top: 28px;
    .home-design {
        h2 {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin: 32px 16px 16px 16px;
        }
        &__point-stats {
            background: #6a5ae0;
            margin: 16px;
            border-radius: 22px;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            padding: 16px;

            &-rank {
                display: flex;
                flex-direction: column;
                border-right: 1px solid #ffffff;
                align-items: center;
                padding-right: 4px;
                width: 33.33%;
                position: relative;
                img {
                    width: 54px;
                    height: 54px;
                    font-size: 22px;
                    // position: absolute;
                    // top: -52px;
                }
                h3 {
                    margin: 10px 0px 6px 0px;
                    font-weight: 600;
                    // opacity: 0.8;
                }
                h3:last-child {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0px;
                    opacity: 1;
                }
            }
            &-rank:last-child {
                border: none;
                padding-right: 0px;
            }
        }
    }
    .home-contest {
        margin-top: 32px;
        .home-select-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 8px 0px 16px;

            h2 {
                font-size: 16px;
                font-weight: 600;
            }
            .ant-select {
                width: 160px;
                .ant-select-selector {
                    border: 0px !important;
                    box-shadow: none !important;
                    background: none !important;
                    span {
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                .ant-select-arrow {
                    font-size: 12px;
                    color: #000;
                }
            }
        }
        .contest-spin {
            margin-top: 100px;
            margin-left: 47%;
        }
    }
}