@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

// body {
//     background: #5252f508;
// }

.layout-main-container {
    width: 769px;
    margin: 0px auto;
    background: #6a5ae0;
}
@media screen and (max-width: 480px) {
    .layout-main-container,
    .footer-section {
        width: 100%;
    }
}

// ############################# Input Start #############################
.ant-form-item-explain-error {
    color: #ff4d4f;
    text-align: left;
    color: var(--is-danger-color);
    font-weight: 400;
    margin-left: 4px;
    font-size: 14px;
}

.common-input {
    .ant-input-affix-wrapper {
        height: 42px;
        background: rgba(5, 5, 5, 0.06);
        border-radius: 32px;
        .ant-input-prefix {
            svg {
                color: var(--is-black-color);
            }
        }
        input {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-left: 12px;
        }
    }
}

.otp-box {
    justify-content: center;
    margin: 12px 0px 32px 0px;
    input {
        text-align: center;
        width: 36px !important;
        height: 42px;
        font-size: 23px;
        border-radius: 12px;
        border: none;
        background: #edeaea;
        margin-right: 22px;
    }
}
// ############################# Input End #############################

// ############################# Buttons start #############################
.button-box {
    display: flex;
    // justify-content: flex-end;
    justify-content: center;
    .common-blue-button {
        // background: var(--is-blue-gradient);
        background: #6A5AE0;
        border-radius: 36px;
        height: 42px;
        width: 200px;
        // box-shadow: 5px 6px 16px rgba(52, 152, 219, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: var(--is-quaternary-text-color);
            font-size: 16px;
            font-weight: 700;
            margin-right: 8px;
            margin-top: -3px;
        }
        span {
            color: var(--is-quaternary-text-color);
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }
    }
    .common-blue-btn {
        height: 42px;
        margin-top: 16px;
        border-radius: 12px;
        padding: 0px 22px;
        display: flex;
        align-items: center;
        background: #6A5AE0;
        span {
            color: #ffffff;
            font-weight: 600;
        }

        .plus-icon,
        svg {
            padding-right: 12px;
            font-size: 22px;
            font-weight: 500;
        }
    }
    .common-green-btn {
        background: #12a64f !important;
    }
    .common-white-btn {
        background: #ffffff;
        span {
            color: #6A5AE0;
        }  
    }
    // .common-blue-btn:hover,
    // .common-blue-btn:active {
    //     box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    //                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    //                 inset -4px -4px 6px 0 rgba(255,255,255,.2),
    //                 inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    // }

    .common-empty-button {
        order: none !important;
        box-shadow: none !important;
        margin: 18px;
        span {
            color: var(--is-danger-color);
            font-size: 16px;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}
// ############################# Buttons End #############################

// ############################# Titles start #############################
.common-title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 18px 16px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #ffffff;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // background: #fff;
    // border-bottom: 1px solid gray;
    // box-shadow: -1px 3px 19px -3px rgba(0,0,255,0.34);
    // -webkit-box-shadow: -1px 3px 19px -3px rgba(0,0,255,0.34);
    // -moz-box-shadow: -1px 3px 19px -3px rgba(0,0,255,0.34);
    .left-section,
    .right-section {
        position: absolute;
        svg {
            width: 36px;
            height: 26px;
        }
    }
    .left-section {
        left: 12px;
    }
    .right-section {
        right: 12px;
    }
    h1 {
        font-size: 16px;
    }
}

// .yellow-title {
//     background: var(--is-yellow-background-color);
//     color: var(--is-warning-color);
// }

// .green-title {
//     background: var(--is-green-gradient);
//     color: var(--is-green-text-color);
// }

// .red-title {
//     background: #feecfffa;
//     color: #ff00b8;
// }
// ############################# Titles End #############################

// ############################# Drawer Start #############################
.ant-drawer-content-wrapper {
    display: flex;
    justify-content: center;
    .ant-drawer-content {
        width: 769px;
    }
    .ant-drawer-header-title {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .ant-drawer-content-wrapper {
        .ant-drawer-content {
            width: 100%;
        }
    }
}
// ############################# Drawer End #############################


// ############################# Success notification css Start #############################
.success-notification {
    padding: 16px !important;
    .ant-notification-notice-icon {
        // margin-top: 6px;
        svg {
            color: var(--is-green-text-color);
        }
    }
    .ant-notification-notice-message {
        margin-bottom: 0px !important;
        color: var(--is-green-text-color) !important;
        font-weight: 700;
        font-size: 18px;
    }
    .ant-notification-notice-description {
        font-size: 14px;
        font-weight: 500;
        margin-top: 6px;
        font-weight: 700;
    }
    .ant-notification-notice-close {
        color: var(--is-red-color) !important;
        font-size: 20px;
    }
}
.error-notification {
    .ant-notification-notice-icon {
        svg {
            color: var(--is-red-color) !important;
        }
    }
    .ant-notification-notice-message {
        color: var(--is-red-color) !important;
    }
}
// ############################# Success notification css End #############################

.footer-space{
    height: 66px;
    width: 100%;
    background: #ffffff;
    margin-top: -2px;
}
