:root {
    --is-theme-color: #0052FF;
  
    --is-primary-background-color: rgba(255, 255, 255, 0.8);
    --is-secondary-background-color: #000000;
    --is-tertiary-background-color: rgba(255, 255, 255, 0.1);
    --is-quaternary-background-color: #ffffff;

    --is-primary-text-color: #fafafa;;
    --is-secondary-text-color: #000000;
    --is-tertiary-text-color: rgba(255, 255, 255, 0.1);
    --is-quaternary-text-color: #ffffff;

    --is-green-color: #00AA81;
    --is-white-color: #FFFFFF;
    --is-black-color: #040507;
    --is-dark-black-color: #000000;
    --is-success-color: #3bb273;
    --is-warning-color: #e9bd24;
    --is-danger-color: #FA3665;
    --is-red-color: #FF133D;

    --is-overlay: rgba(38, 31, 31, 0.8);

    --is-blue-gradient: linear-gradient(to bottom, #0070f3, #0000a0);
}