.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-card {
        width: 30%;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background: #f6f5f5;
        &__header {
            display: flex;
            align-items: center;
            border: 1px solid red;
            &-logo {
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                background: #877171;
                display: flex;
                align-items: center;
                justify-content: center;
                .name {
                    color: white;
                }
            }
            &-title {
                margin: 1rem 0rem 0rem 1rem;
                .username {
                    font-weight: 500;
                    margin-bottom:5px;
                }
            }
        }
        &__footer {
            border: 1px solid rgb(22, 19, 19);
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            .box {
                width: 2rem;
                height: 2rem;
                background: #ec7171;
            }
        }
    }
}
