.setting-container {
    background: #6a5ae0;
    height: 100vh;
    overflow: hidden;
    padding: 12px;

    .drawer-content {
        display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            border-radius: 32px 32px 0px 0px;
            background: #ffffff;
            padding: 16px;
        .ant-menu {
            background-color: transparent;
        }
        .ant-menu-item {
            background: #efeefc;
            margin-bottom: 16px;
            height: 54px;
            display: flex;
            align-items: center;
            span {
                color: #7364e2;
                font-size: 14px;
                font-weight: 800;
                display: flex;
                width: 100%;
                align-items: center;
                padding: 0px 4px;
                justify-content: space-between;
                span:first-child {
                    svg {
                        margin: 0px 12px 0px 6px;
                        font-size: 22px;
                    }
                }
                span:last-child {
                    justify-content: flex-end;
                }
            }
        }
    }
}