.wallet-container {
    width: 769px;
    margin: 0px auto;
    background: #6a5ae0;
    height: 100vh;
    overflow: hidden;

    .wallet-section-main-container {
        padding-top: 8px;
        background: #ffffff;
        border-radius: 32px 32px 0px 0px;
        margin: 0px 16px;
        height: 100%;
        .balence-box {
            background: #6a5ae0;
            margin: 18px 12px 28px 12px;
            border-radius: 16px;
            padding: 16px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #ffffff;
            h3 {
                font-size: 16px;
            }
            h3:nth-child(2) {
                color: #ffffff;
                margin-top: 8px;

                svg {
                    font-size: 15px;
                }
            }

            .add-money-button {
                .plus-icon {
                    padding-right: 12px;
                    font-size: 22px;
                    font-weight: 500;
                }
                .withdrawal-svg {
                    svg {
                        padding-right: 9px;
                        font-size: 18px;
                        font-weight: 100;
                        margin-top: 4px;
                    }
                }
            }
        }

        .withdrawal-note {
            margin: 16px 16px 0px 16px;
            font-size: 12px;
            line-height: 18px;
            color: #e6e7e8;
            letter-spacing: 0.7px;
            svg {
                font-size: 10px;
                margin-bottom: -1px;
            }
        }
    }
}

.add-amount-modal {
    .ant-modal-close {
        top: 27px !important;
        inset-inline-end: 20px !important;
        color: var(--is-red-color) !important;

        .ant-modal-close-x {
            font-size: 22px;
        }
    }

    .ant-modal-title {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
    }

    .add-amount-box {
        margin: 22px 0px;

        .add-amount-form {
            .ant-form-item-row {
                display: flex;
                flex-direction: column;
            }

            label {
                font-size: 18px;
                height: 52px;
                font-weight: 600;
            }

            label::before {
                content: "" !important;
            }
        }
        .withdrawal-note {
            // margin: 16px 16px 0px 16px;
            font-size: 12px;
            line-height: 18px;
            color: gray;
            svg {
                font-size: 10px;
                margin-bottom: -1px;
            }
        }
    }

    .withdrawal-request {
        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 32px;
        }
    }

    .ant-modal-footer {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .wallet-container {
        width: 100%;
    }
}