.hide-form {
  display: none;
}

.signup-box {
  width: 780px;
  .login-container__box__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    .loginInput,
    .login-container__box__form-wrapper-btn {
      width: 310px;
      margin: 0px 30px 32px 30px;
    }
  }
}

@media (max-width: 768px) {
  .signup-box {
    width: 100%;
    padding-top: 16px;
    box-shadow: none;
    .login-container__box__form-wrapper {
      flex-wrap: nowrap;
      flex-direction: column;
      .loginInput,
      .login-container__box__form-wrapper-btn {
        margin: 0px 0px 32px 0px;
        width: 100%;
      }
    }
    .login-container__box-signup-option {
      padding-bottom: 32px;
    }
  }
}